body {
    font-family:  Arial;
    background-color: #dcdde1;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.cv-container {
    width: 850px;
    background: white;
    display: flex;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.left-side {
    width: 300px;
    background-color: #2c3e50;
    color: white;
    padding: 40px 25px;
}

.iamge {
    text-align: center;
    margin-bottom: 30px;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
    background-color: #fff;
    margin-left: 60px;
}

.right-side {
    flex: 1;
    padding: 50px 40px;
    color: #2f3640;
}

.section-title {
    font-size: 16px;
    border-bottom: 1px solid #555;
    margin: 25px 0 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.right-side .section-title {
    border-bottom: 2px solid #2c3e50;
    color: #2c3e50;
    font-weight: bold;
}

.name-header h1 {
    margin: 0;
    font-size: 38px;
    font-weight: 300;
    color: #2c3e50;
}

.name-header b {
    font-weight: 800;
}

.sub-header {
    font-size: 18px;
    color: #7f8c8d;
    margin-bottom: 30px;
}

.info-p {
    font-size: 13px;
    margin: 8px 0;
    line-height: 1.4;
}

.entry {
    margin-bottom: 15px;
}

.entry b {
    display: block;
    font-size: 15px;
}

.entry i {
    font-size: 13px;
    color: #7f8c8d;
}

ul {
    padding-left: 20px;
    margin: 5px 0;
}

li {
    font-size: 13.5px;
    margin-bottom: 4px;
    line-height: 1.5;
}

strong {
    color: #f1c40f;
}
